<div class="container mt-5">

    <div *ngIf="!registerToogle" style="text-align: center">
      <h1>Encuentra tu pareja</h1>
      <p class="lead">Entra y encuentra la pareja ideal... Solo tienes que registrarte!</p>
      <div class="text-center">
        <button class="btn btn-primary btn-lg mr-2" (click)="toogleRegisterMode()">Registro</button>
        <button class="btn btn-info btn-lg">Aprende más</button>
      </div>
    </div>
  
    <div *ngIf="registerToogle" class="container">
      <div class="row justify-content-center">
        <div class="col-4">
          <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
        </div>
      </div>
    </div>

</div>