<div class="text-center mt-3">
    <h2>Has encontrado - {{pagination.totalItems}} matches</h2>
  </div>

<div class="container mt-3"> <!-- Bootstrap Class -->

    <form #filterForm="ngForm" (ngSubmit)="loadUsers()"
        class="form-inline" novalidate>
        <div class="form-group">
          <label for="minAge">Años Desde</label>
          <input type="number" [(ngModel)]="userParams.minAge"
            class="form-control ml-1" style="width: 70px" id="minAge" name="minAge">
        </div>
      
        <div class="form-group px-2">
          <label for="maxAge">Años Hasta</label>
          <input type="number" [(ngModel)]="userParams.maxAge"
            class="form-control ml-1" style="width: 70px" id="maxAge" name="maxAge">
        </div>
      
        <div class="form-group px-2">
          <label for="gender">Mostrar: </label>
          <select [(ngModel)]="userParams.gender"
            class="form-control ml-1" style="width: 130px" id="gender" name="gender">
            <option *ngFor="let gender of genderList" [value]="gender.value">
                {{ gender.display }}
            </option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left:10px">Aplicar</button>
        <button type="button" (click)="resetFilters()"
            class="btn btn-info" style="margin-left:10px">Reiniciar
        </button>

        <div class="col">
            <div class="btn-group float-right">
                <button [(ngModel)]="userParams.orderBy" (click)="loadUsers()"
                    type="button" name="orderBy" class="btn btn-primary" btnRadio="lastActive">
                    Última vez activo
                </button>
                <button [(ngModel)]="userParams.orderBy" (click)="loadUsers()"
                    type="button" name="orderBy" class="btn btn-primary" btnRadio="created">
                    Nuevos
                </button>
            </div>
        </div>
      
      </form>
      <br>

    <div class="row">
        <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6"> <!-- Each Row Will Have 2 Cols, Row1: Im1, Im2, Im3, Row2: Im4 Im5 Im6 -->
            <app-matches-card [user]="user"></app-matches-card>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
</div>